.container {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 250px;
  border: 1px solid red;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

#sidebar {
  position: fixed;
  top: 0px;
  height: 100%;
  overflow-y: auto;
  background: #003059;
  color: #fff;
  width: 240px;
}

#sidebar a {
  color: #fff;
}

#sidebar a span:last-child {
  padding-left: 8px;
}

#sidebar .sidebar-header {
  height: 60px;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.15);
}

#sidebar .sidebar-menu {
  padding: 10px 0;
}

#sidebar .sidebar-menu .sideLi-heading {
  padding: 28px 16px 3px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 15px;
}

#sidebar .sidebar-menu .sideLi-subheading {
  padding: 10px 0px;
}

#sidebar .sidebar-menu .sideLi-subheading .sideLi-subheading-icon {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 12px;
}

#sidebar .sidebar-menu .sideLi-subheading:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 10px 0px;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

header .search-wrapper {
  padding-left: 15px;
  color: #777;
}

header .search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
  font-size: 16px;
}

header .user-icons {
  padding-right: 17px;
  color: #777;
  margin-left: 1.2rem;
}

#main-header {
  position: relative;
  padding: 10px 0 10px 0;
  margin-left: 240px;
}

#main-header .page-title-icon {
  font-size: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-right: 10px;
  color: #3498db;
  height: 52px;
}

#main-header .page-title-icon img {
  width: 32px;
  margin-top: -4px;
}

#main-header .page-title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}

#main-header .breadcrumb {
  margin: 0 3px 0 auto;
  color: #212529;
}

#main-header .breadcrumb ul {
  list-style: none;
}

#main-header .breadcrumb ul li {
  display: inline;
  font-size: 13px;
}

#main-header .breadcrumb ul li + :before {
  padding: 5px;
  color: black;
  content: "/\00a0";
}

#main-header .breadcrumb ul li a {
  color: #394263;
  text-decoration: none;
}

#main-header .breadcrumb ul li a:hover {
  color: #EE5A24;
}

#main-header .breadcrumb ul li .active {
  color: #EE5A24;
}

* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  margin-top: 40px;
  min-height: 90vh;
  padding: 32px;
  background: #f5f6fa;
  color: #212529;
}

.flex-dja, #sidebar .sidebar-header, header, #button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-dj, #sidebar .sidebar-menu .sideLi-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-da, header .search-wrapper, #main-header, #main-header .page-title-icon, #form fieldset .fieldset-annex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-display-font, #button-group .btn-left button, #button-group .btn-right .print-btn, #button-group .btn-right .pdf-btn, #button-group .btn-right .excel-btn {
  display: inline-block;
  font-size: 12px;
}

.card-styling, #contract-card .red-card, #contract-card .yellow-card, #contract-card .green-card {
  font-weight: 700;
  margin-right: 10px;
}

#table {
  overflow-x: auto;
  margin-left: 240px;
}

#table .activity-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  background: #fff;
}

#table .activity-table thead {
  font-size: 14px;
}

#table .activity-table tr:nth-child(even) {
  background-color: #f5f6fa;
}

#table .activity-table tr:hover {
  background-color: #dcdde1;
}

#table .activity-table th {
  padding: 15px 5px 15px 5px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #EE5A24;
}

#table .activity-table td {
  padding: 9px;
}

#table .activity-table td button {
  border: 0;
  outline: 0;
  background-color: transparent;
  opacity: 0.9;
  cursor: pointer;
}

#table .activity-table .paperclip-icon {
  color: grey;
  cursor: pointer;
}

#table .activity-table .trash-icon {
  color: red;
  padding: 5px;
  margin-right: 7px;
  font-size: 16px;
  cursor: pointer;
}

#table .activity-table .edit-icon {
  color: #20bf6b;
  font-size: 16px;
  cursor: pointer;
}

#table .activity-table .badge {
  border-radius: 20px;
  padding-left: 5px;
  font-weight: 700;
  font-size: .7rem;
  text-align: center;
}

#table .activity-table .progress {
  background: #cce5ff;
  color: #004085;
}

#table .activity-table .success {
  background: #d4edda;
  color: #155724;
}

#table .activity-table .warning {
  background: #f0f6b2;
  color: orange;
}

#table .activity-table .danger {
  background: #ff7979;
  color: red;
}

#table .activity-table .annex-number {
  border: 1px solid #003059;
  border-radius: 3px;
  background: #003059;
  color: white;
  padding: 2px 8px;
}

#form {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  color: #212529;
  font-size: 14px;
  margin: 28px 0 0 240px;
  min-height: 1000px;
}

#form .form-header {
  text-align: center;
  padding: 0 0 15px 0;
}

#form .form-header h4 {
  background-color: #e84118;
  color: #fff;
  font-size: 20px;
  padding: 8px;
}

#form .form-subheader-left {
  margin-top: -19px;
}

#form .form-subheader-left table {
  border-collapse: collapse;
  margin-left: 16px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

#form .form-subheader-left th {
  width: 57%;
  text-align: left;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

#form .form-subheader-left td {
  background-color: #f5f6fa;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

#form .form-subheader-right table {
  border-collapse: collapse;
  margin-left: 280px;
}

#form .form-subheader-right th {
  width: 34%;
  text-align: left;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

#form .form-subheader-right td {
  background-color: #f5f6fa;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

#form .form-subheader-right td input {
  border: none;
  background-color: #f5f6fa;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
}

#form fieldset {
  padding: 0 15px 0 15px;
  margin: 8px 0 8px 0;
  border: 0;
}

#form fieldset legend {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: inherit;
  color: #333;
  border-bottom: 2px solid #c23616;
}

#form fieldset .fieldset-annex {
  margin-bottom: 15px;
}

#form fieldset .fieldset-annex label {
  font-weight: 700;
}

#form fieldset .fieldset-annex select {
  width: 95%;
  height: 30px;
}

#form fieldset .fieldset-annex input {
  width: 95%;
  height: 30px;
}

#form #table-annex {
  background-color: #dcdde1;
}

#form thead {
  background-color: #718093;
}

#form td .product-count-input {
  width: 50%;
  height: 39px;
}

#form td .measure-unit-input {
  width: 40%;
  height: 39px;
}

#form .end-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#button-group {
  margin: 25px 3px 32px 0;
}

#button-group .btn-left {
  margin-right: 20px;
  margin-left: 240px;
}

#button-group .btn-left button {
  background: #003059;
  border: none;
  outline: none;
  border-radius: .25rem;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 0 3px 0;
  cursor: pointer;
}

#button-group .btn-left button:hover {
  opacity: 0.9;
}

#button-group .btn-left .btn-contract-number {
  color: red;
  border: 1px solid red;
}

#button-group .btn-right .print-btn {
  border: none;
  outline: none;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  color: grey;
  margin: 0 0 3px 0;
  cursor: pointer;
}

#button-group .btn-right .pdf-btn {
  border: none;
  outline: none;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  color: red;
  margin: 0 0 3px 0;
  cursor: pointer;
}

#button-group .btn-right .excel-btn {
  border: none;
  outline: none;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  color: green;
  margin: 0 0 3px 0;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal .modal-content {
  position: absolute;
  top: 55%;
  left: 88%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21rem;
  min-height: 600px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal .modal-content .modal-header {
  display: block;
  background-color: #3498db;
  color: #fff;
  font-size: 15px;
  padding: 10px 0px 0px 15px;
}

.modal .modal-content .modal-header .close-button {
  position: relative;
  top: -62px;
  left: 288px;
  line-height: 1.5rem;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.modal .modal-content .modal-headbar {
  border-bottom: 1px solid #ccc;
}

.modal .modal-content .modal-headbar button {
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  color: inherit;
  background-color: inherit;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.modal .modal-content .modal-headbar button:hover {
  color: #000;
  background-color: #ccc;
}

.modal .modal-content .modal-headbar .modal-active {
  background-color: #f1f1f1;
}

.modal .modal-content table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  background: #fff;
}

.modal .modal-content table th {
  padding: 15px 0 15px 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #EE5A24;
}

.modal .modal-content table td {
  padding: 15px 0 15px 15px;
  border: none;
  background: transparent;
}

.modal .modal-content .file-attach {
  position: relative;
  top: 260px;
  margin: 0 8px 0 8px;
}

.modal .modal-content .file-attach button {
  background: #fff;
  border: 1px solid #3498db;
  outline: none;
  padding: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibilty 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibilty 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibilty 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibilty 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

#contract-card {
  height: 66px;
  margin-left: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contract-card .red-card {
  background-color: #fff;
  color: black;
  border-left: 3px solid red;
}

#contract-card .yellow-card {
  background-color: #fff;
  color: black;
  border-left: 3px solid yellow;
}

#contract-card .green-card {
  background-color: #fff;
  color: black;
  border-left: 3px solid green;
}

#contract-card .blue-card {
  background-color: #fff;
  color: black;
  border-left: 3px solid blue;
  font-weight: 700;
}

#contract-card p {
  padding: 10px 0 0 10px;
}

#contract-card .card-title {
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
}

#contract-card .total-number {
  margin-left: 240px;
  padding: 10px 0 10PX 0px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */