#button-group {
    @extend .flex-dja;
    margin: 25px 3px 32px 0;
    .btn-left {
        margin-right: 20px;
        margin-left: 240px;
        button {
            background: #003059;
            border: none;
            outline: none;
            border-radius: .25rem;
            color: white;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            margin: 0 0 3px 0;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
       }
        .btn-contract-number {
            color: red;
            border: 1px solid red;
        }
    }
    .btn-right {
        .print-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: grey;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
        .pdf-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: red;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
        .excel-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: green;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
    }
}