#button-group {
    @extend .flex-dja;
    margin: 25px 32px 32px 0;
    .btn-left {
        margin-right: 20px;
        button {
            background: #003059;
            border: none;
            outline: none;
            border-radius: .25rem;
            color: white;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            margin: 0 0 3px 0;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
       }
        .btn-contract-number {
            color: red;
            border: 1px solid red;
        }
    }
    .btn-right {
        .print-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: grey;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
        .pdf-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: red;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
        .excel-btn {
            border: none;
            outline: none;
            padding: 6px 15px;
            text-align: center;
            text-decoration: none;
            @extend .btn-display-font;
            color: green;
            margin: 0 0 3px 0;
            cursor: pointer;
        }
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 200px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #ddd;
        }
    }
  }
  .show-dropdown {
      display: block;
  }
