#contract-card {
    height: 66px;
    margin-left: 240px;
    display: flex;
    justify-content: space-around;
    .red-card {
        background-color: $contrCardBg;
        color: black;
        border-left: 3px solid red;
        @extend .card-styling;
    }
    .yellow-card {
        background-color: $contrCardBg;
        color: black;
        border-left: 3px solid yellow;
        @extend .card-styling;
    }
    .green-card {
        background-color: $contrCardBg;
        color: black;
        border-left: 3px solid green;
        @extend .card-styling;
    }
    .blue-card {
        background-color: $contrCardBg;
        color: black;
        border-left: 3px solid blue;
        font-weight: 700;
    }
    p {
        padding: 10px 0 0 10px;
    }
    .card-title {
        font-size: 14px;
        font-weight: 500;
        padding: 8px;
    }
    .total-number {
        margin-left: 240px;
        padding: 10px 0 10PX 0px;
        font-size: 14px;
    }
}