// Contract-cards
#contract-card {
    display: flex;
    justify-content: space-around;
    height: 80px;
    margin-right: 32px;
    .red-card {
        background-color: #c0392b;
        color: white;
        @extend .card-styling;
         i {
            @extend .icon-styling;
      }
    }
    .yellow-card {
        background-color:orange;
        color: white;
        @extend .card-styling;
        i {
            @extend .icon-styling;
      }
    }
    .blue-card {
        background-color: #2980b9;
        color: white;
        @extend .card-styling;
        i {
            @extend .icon-styling;
      }
    }
    .green-card {
        background-color: #27ae60;
        color: white;
        i {
            @extend .icon-styling;
      }
    }
    p {
        padding: 15px 0 0 10px;
    }
    .card-title {
        font-size: 14px;
        font-weight: 500;
        padding: 8px;
    }

}
.total-number {
    padding: 10px 0 0 0;
    font-size: 14px;
}

