#form {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    color: #212529;
    font-size: 14px;
    margin: 28px 0 0 240px ;
    min-height: 1000px;
    .form-header {
      text-align: center;
      padding: 0 0 15px 0;
      h4 {
        background-color: #e84118;
        color: #fff;
        font-size: 20px;
        padding: 8px;
      }
    }
    .form-subheader-left {
      margin-top: -19px;
      table {
        border-collapse: collapse;
        margin-left: 16px;
        align-items: initial;
      }
      th {
        width: 57%;
        text-align: left;
        box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
      }
      td {
        background-color:#f5f6fa;
        box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
      }
    }  
    .form-subheader-right {
      table {
        border-collapse: collapse;
        margin-left: 280px;
      }
      th {
        width: 34%;
        text-align: left;
        box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
      }
      td {
        background-color:#f5f6fa;
        box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
        input {
          border:none;
          background-color: #f5f6fa;
          box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.33);
        }
      }
    }  
      fieldset {
        padding: 0 15px 0 15px;
        margin: 8px 0 8px 0;
        border: 0; 
        legend {
          display: block;
          width: 100%;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: 500;
          line-height: inherit;
          color: #333;
          border-bottom: 2px solid #c23616;
        }        
        .fieldset-annex {
          @extend .flex-da;
          margin-bottom: 15px;
          label {
            font-weight: 700;
          }
          select {
            width: 95%;
            height: 30px;
          }
          input {
            width: 95%;
            height: 30px;
          }
        }
      }
      #table-annex {
        background-color: #dcdde1;
      }
      thead {
        background-color: #718093; 
      }
      td {
        .product-count-input {
          width: 50%;
          height: 39px;
        }
        .measure-unit-input {
          width: 40%;
          height: 39px;
        }
      }
      .end-button {
        display: flex;
        justify-content: flex-end;
      }

    }
    
