* {
    font-family: $basic-font;
    margin: $m-0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
main {
    margin-top: 40px;
    min-height: 90vh;
    padding: 32px;
    background: #f5f6fa;
    color: #212529;
}
.container {
    position: relative;
    margin-left: 240px;
}
.flex-dja {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-dj {
    display: flex;
    justify-content: space-between;
}
.flex-da {
    display: flex;
    align-items: center;
}
.btn-display-font {
    display: inline-block;
    font-size: 12px;
}