header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px -5px rgba(0,0,0,.33);
    transition: left 500ms;
    .search-wrapper {
        display: flex;
        align-items: center;
        padding-left: 15px;
        color: #777;
        input {
            border: 0;
            outline: 0;
            padding: 1rem;
            height: 38px;
            font-size: 16px;

        }
    }
    .social-icons {
        display: flex;
        padding-right: 17px;
        color: #777;
        margin-left: 1.2rem;

    }
}