header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    @extend .flex-dja;
    box-shadow: 0 0 12px -5px rgba(0,0,0,.33);
    .search-wrapper {
        @extend .flex-da;
        padding-left: 15px;
        color: #777;
        input {
            border: 0;
            outline: 0;
            padding: 1rem;
            height: 38px;
            font-size: 16px;
        }
    }
    .user-icons {
        padding-right: 17px;
        color: #777;
        margin-left: 1.2rem;
    }
}