#main-header {
    position: relative;
    @extend .flex-da;
    padding: 10px 0 10px 0;
    margin-left: 240px;
    .page-title-icon {
        font-size: 2rem;
        @extend .flex-da;
        align-content: center;
        text-align: center;
        margin-right: 10px;
        color:  #3498db;
        height: 52px;
        img {
            width: 32px;
            margin-top: -4px;
        }
    }
    .page-title {
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #212529;
        }
    }
    .breadcrumb {
        margin: 0 3px 0 auto;
        color: #212529;
        ul {
            list-style: none;
            li {
                display: inline;
                font-size: 13px;
                +:before {
                    padding: 5px;
                    color: black;
                    content: "/\00a0";
                  }
                a {
                    color: #394263;
                    text-decoration: none;
                    &:hover {
                        color:#EE5A24;
                    }
                }
                .active {
                    color:#EE5A24;
                }
            }
        }
    }
}