#sidebar {
    position: fixed;
    top: 0px;
    height: 100%;
    overflow-y: auto;
    background: $sidebg;
    color:$sidetxtcolor;
    width: 240px;
    a {
        color: $sidelinkcolor;
        span:last-child {
            padding-left: 8px;
        }
    }
    .sidebar-header {
        @extend .flex-dja;
        height: 60px;
        padding: 0 16px;
        background: $sideheaderbg;
    }
    .sidebar-menu {
        padding: 10px 0;
        .sideLi-heading {
            @extend .flex-dj;
            padding: 28px 16px 3px;
            margin-bottom: 10px;
            color:$sideliheadingcolor;
            text-transform: uppercase;
            font-size: 15px;
        }
        .sideLi-subheading {
            padding: 10px 0px;
            .sideLi-subheading-icon {
                color: rgba(255, 255, 255, 0.5);
                margin-left: 12px;
            }
            &:hover {
                background:rgba(0, 0, 0, 0.15);
                color: #fff;
                padding: 10px 0px;
            }
        }
    }
}

