#table {
    margin-right: 32px;
    white-space: nowrap;
    overflow: auto;
    scrollbar-color: red;
    .activity-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        background: #fff;
        thead {
            font-size: 14px;
        }
        tr:nth-child(even) {
            background-color:#f5f6fa;
        }
        tr:hover {
            background-color:#dcdde1;
        }
        th {
            padding: 15px 5px 15px 5px;
            text-align: left;
            font-weight: bold;
            border-bottom: 2px solid grey;
            button {
                border: 0;
                outline: 0;
                background-color: transparent;
                opacity: 0.9;
            }
        }
        td {
            padding: 9px;
            border-bottom: 1px solid lightgrey;
            button {
                border: 0;
                outline: 0;
                background-color: transparent;
                opacity: 0.9;
                cursor: pointer;
            }
            input {
                cursor: pointer;
            }  
        }
        .paperclip-icon {
            color: grey;
            cursor: pointer;
        }
        .trash-icon {
            padding: 5px;
            margin-right: 7px;
            color: red;
            font-size: 16px;
            cursor: pointer;
        }
        .edit-icon {
            color: #20bf6b;
            font-size: 16px;
            cursor: pointer;
        }
        .badge {
            border-radius: 20px;
            font-weight: 700;
            font-size: .7rem;
            text-align: center;
        }
        .progress {
            background:#cce5ff;
            color: #004085;
            padding: 5px 25px;
        }
        .success {
            background:#d4edda;
            color: #155724;
            padding: 5px 20px;

        }
        .warning {
            background: #f0f6b2;
            color: orange;
            padding: 5px 22px;
        } 
        .danger {
            background: #ff7979;
            color:red;
            padding: 5px 22px;
        } 
        .annex-number {
            width: 100%;
            border: 1px solid #003059;
            border-radius: 3px;
            background: #003059;
            color: white;
            padding: 2px 8px;
            &:hover {
                opacity: 0.9;
            }
        }
   
    }
}