// general
$basic-font:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$m-0: 0;

// sidebar
$sidebg: #003059;
$sidetxtcolor: #fff;
$sideheaderbg: rgba(0, 0, 0, 0.15);
$sideliheadingcolor:  rgba(255, 255, 255, 0.5);
$sidelinkcolor: #fff;

// column
$colwidth: 100%/12;

// padding
$p-0: 0;