$basic-font:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$m-0: 0;
$sidebg: #003059;
$sidetxtcolor: #fff;
$sideheaderbg: rgba(0, 0, 0, 0.15);
$sideliheadingcolor:  rgba(255, 255, 255, 0.5);
$sidelinkcolor: #fff;